### Apply:
* Kmeans (random init)
* Kmeans ++
* DBSCAN

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

In [ ]:
df = pd.read_csv('../data/raw/listings.csv')
df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
7024,1049537442224124625,Bed and breakfast in Hong Kong · ★New · 1 bedr...,6763017,Rina,NaN,Central & Western,22.284917,114.151529,Private room,1737.0,1,0,NaN,NaN,42,269,0,NaN
7025,1049697550164824387,Rental unit in Hong Kong · ★New · 1 bedroom · ...,353326613,Savi,NaN,Wan Chai,22.282580,114.182910,Private room,510.0,28,0,NaN,NaN,50,242,0,NaN
7026,1049718383474111305,Rental unit in Hong Kong · ★New · 1 bedroom · ...,353326613,Savi,NaN,Wan Chai,22.282446,114.184767,Private room,476.0,28,0,NaN,NaN,50,247,0,NaN
7027,1049722164048500871,Rental unit in Hong Kong · ★New · 1 bedroom · ...,353326613,Savi,NaN,Wan Chai,22.280790,114.186290,Private room,408.0,28,0,NaN,NaN,50,244,0,NaN
7028,1049754221555693847,Rental unit in Hong Kong · ★New · 1 bedroom · ...,47887152,Oceana,NaN,Yau Tsim Mong,22.298320,114.171260,Private room,765.0,1,0,NaN,NaN,5,181,0,NaN

In [ ]:
df.isna().sum()

id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               7029
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                              477
minimum_nights                       0
number_of_reviews                    0
last_review                       3488
reviews_per_month                 3488
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           7029
dtype: int64

### Data Cleaning

In [ ]:
df = df.drop(['neighbourhood_group', 'license', 'last_review'], axis=1)
df.head()

NameError: name 'df' is not defined

In [ ]:
df['price'].skew(), df['price'].kurt()

(31.572125236206023, 1366.7720505866012)

In [ ]:
#We are going to use median to replace nans in the price columns, because we have a high kurtosis 
#Which means that we have a lot of higher values, and the mean would not be accurate.
price_median = df['price'].median()
price_median

499.0

In [ ]:
df['price'] = df['price'].fillna(price_median)

In [ ]:
df['last_review'].mode()

0    2023-12-04
Name: last_review, dtype: object